{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"useTabs": false,
	"singleQuote": true,
	"jsxBracketSameLine": false,
	"printWidth": 100
}


/*
//old
{
	"trailingComma": "es5",
	"tabWidth": 3,
	"semi": true,
	"useTabs": true,
	"singleQuote": true,
	"jsxBracketSameLine": false,
	"printWidth": 100
}
*/
